{% extends 'layout/layout.twig' %}

{% block content %}
    {% if flashMessenger().hasMessages() %}
        <div class="ui error message">
            <ul>
        {% for message in flashMessenger().getMessages() %}
            <li>{{ message }}</li>
        {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="ui two column middle aligned grid basic segment">
        <div class="column">
            <form action="{{ url('zfcuser/login') }}" method="post">
                <div class="ui form blue segment">
                    <div class="field {% if loginForm.get("identity").getMessages() %}error{% endif %}">
                        {{ formLabel(loginForm.get("identity")) }}
                        {{ formElement(loginForm.get("identity")) }}
                    </div>
                    <div class="field">
                        {{ formElementErrors(loginForm.get("credential")) }}
                        {{ formLabel(loginForm.get("credential")) }}
                        {{ formElement(loginForm.get("credential")) }}
                    </div>
                    <button type="submit" name="submit" class="ui blue submit button">{{ translate("Login") }}</button>
                </div>
                <input type="hidden" name="redirect" value="{{ redirect }}"/>
            </form>
        </div>
        {% if enableRegistration %}
        <div class="ui vertical divider">
            {{ translate("Or") }}
        </div>
        <div class="center aligned column">
            <a href="{{ url("zfcuser/register") }}{% if redirect %}?redirect={{ redirect }}{% endif %}" class="medium green ui labeled icon button"><i class="signup icon"></i> {{ translate("Create new account") }}</a>
        </div>
        {% endif %}
    </div>





{% endblock %}