{% extends 'layout/layout.twig' %}

{% block content %}
    {% if flashMessenger().hasErrorMessages() %}
        <div class="ui red message">
            {% for message in flashMessenger().getErrorMessages() %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    {% if enableRegistration %}
    <form action="{{ url('zfcuser/register') }}" method="post">
        <div class="ui fluid form segment">
            <h3 class="ui header">{{ translate("Register") }}</h3>
            <div class="field">
                {{ formElementErrors(registerForm.get("email")) }}
                {{ formLabel(registerForm.get("email")) }}
                {{ formInput(registerForm.get("email")) }}
            </div>
            <div class="field">
                {{ formElementErrors(registerForm.get("password")) }}
                {{ formLabel(registerForm.get("password")) }}
                {{ formInput(registerForm.get("password")) }}
            </div>
            <div class="field">
                {{ formElementErrors(registerForm.get("passwordVerify")) }}
                {{ formLabel(registerForm.get("passwordVerify")) }}
                {{ formInput(registerForm.get("passwordVerify")) }}
            </div>
            <button type="submit" name="submit" class="ui blue submit button">{{ translate("Create account") }}</button>
        </div>
        <input type="hidden" name="redirect" value="{{ redirect }}"/>
    </form>
    {% else %}
        {{ translate("Registration is disabled") }}
    {% endif %}
{% endblock %}